
.Top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
 }
 .Top-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.logo {
  color: #F3F3F3;
  font-family: Inter;
  font-size: 26.88px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /*color: white;
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;*/
}

.Top-right{
  display: flex;
  justify-content: space-between;
}

.Top-right img{
  margin-top: 2px;
  width: 25px;
  height: 25px;
}

.Top-right button{
  width: 118px;
  height: 30px;
  margin: 0 10px;
  background-color: #289701;  
  color: white;
  padding: 2px;  
  border: none; 
  border-radius: 10px;
  cursor: pointer;  
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.611px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 0 10px;
  font-size: 16px ;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.Bottom-nav {
  border-radius: 19px;
  background: #464E44;
  margin: 0 100px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Bottom-left{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.search {
  display: flex;
  align-items: center;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 5px;
  margin: 20px 10px;
}

.search input {
  border: 0;
  outline: 0;
  color: white;
  background: none;
  padding: 5px;
  font-size: 16px;
}
.search img {
  width: 18px;
  margin-left: 10px;
}

.Bottom-right img{
  padding: 0;
  width: 20px;
  height: 20px;
  margin: 10px;
}
